#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
p {
  margin: 0px;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.error-message {
  font-size: 12px;
  color: red;
}

button {
  max-width: 150px;
}
.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  align-items: start;
  padding: 10px;
  text-align: left;
  max-width: 500px;
  box-shadow: 3px 3px 5px grey;
  color: grey;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-text {
  color: black;
}
.message-info {
  display: flex;
  font-size: 0.8em;
  gap: 3px;
  align-items: center;
}
.sign-in-buttons {
  display: flex;
  gap: 10px;
}
.login-container {
  display: flex;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  gap: 5px;
}
.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: lightblue;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  border-style: solid;
}

.user-forms {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.club-form {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}
.user-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
